body {
  /* width: 100vw;
  height: 100vh; */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
};


/* Add this CSS to your App.css file or your component-specific CSS file */
.App {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  min-height: 100vh; 
  position: relative
}

/* Style for the image */
.loading {
  max-width: 100%; /* Ensure the image doesn't exceed its container's width */
  transform: translate(-50%, -50%);
  position: absolute;
  top:50%;
  left:50%
}
